

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Errro Message</title>
</head>
<body>
    <span class="text-center text-danger">There is an Error !!! try again later</span>
</body>
</html>
