

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot password Confimarion</title>
</head>
<body>
    <h3 class="text-info text-center">Forgot your Password Password</h3>
    <p class="text-center">Please check your email to reset your password</p>
</body>
</html>
