

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset password Confimarion</title>
</head>
<body>
    <span class="text-center">Password has been reset, click here to login <a asp-action="Login" asp-controller="account">Login</a></span>
</body>
</html>
